<h6>Dashboard</h6>
<h3>
    Welcome <%= name %>!
</h3>
<% if foods {%>
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Ingredients</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i < foods.length; i++) {%>
                <tr>
                    <td>
                        <a href="/foods/<%= foods[i]_id%>"></a>
                        <%= name %>
                    </td>
                    <td>
                        <img class="img-fluid" src="<%= foods[i].image %> ">
                    </td>
                    <td>
                        <h1>Ingredients</h1>
                        <span>
                            <%= foods[i].ingredients %>
                        </span>
                    </td>
                    <td></td>
                </tr>
                <% } %>
        </tbody>
    </table>

    <% } else {%>
        <p>You have not created any foods. :( </p>
        <% } %>